<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<br>
<blockquote>Добро пожаловать в систему ввода и отображения информации о рецептах поликлинники!<br><br>
    В системе реализованы следующие функции:
    <ul>
        <li>Отображение списка пациентов;</li>
        <li>Добавление нового пациента, редактирование и удаление существующего;</li>
        <li>Отображение списка врачей;</li>
        <li>Добавление нового врача, редактирование и удаление существующего;</li>
        <li>Отображение статистики врача;</li>
        <li>Отображение статистики врача;</li>
        <li>Отображение списка рецептов;</li>
        <li>Добавление нового рецепта, редактирование и удаление существующего;</li>
        <li>Фильтрация списка рецептов по описанию, приоритету и пациенту;</li>
    </ul>
</blockquote>
</body>
</html>